:root {
  --background-color: rgb(13, 7, 49);
  --text-color: #ffffff;
  --card-bg: rgb(120, 30, 156);
  --input-bg: #2c2c2c;
  --input-border: #555;
  --switch-bg: black;
  --btn-bg: grey;
}

[data-theme="light"] {
  --background-color: #ece9fa;
  --text-color: #000000;
  --card-bg: #f8faa1;
  --input-bg: #ffffff;
  --input-border: #ccc;
  --switch-bg: #0096c7;
  --btn-bg: #48cae4;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.card {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
}

input,
select,
textarea {
  background-color: var(--input-bg);
  color: var(--text-color);
  border-color: var(--input-border);
}

.btn-themed {
  background-color: var(--switch-bg) !important;
  color: var(--text-color) !important;
  border: 1px solid var(--input-border) !important;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-themed:hover {
  background-color: var(--input-bg) !important;
}

.btn-theme {
  background-color: var(--btn-bg);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.btn-theme:hover {
  background-color: var(--input-bg);
  border-color: var(--text-color);
  color: var(--text-color);
}
